.spinnerWl{
        position: relative;
        top: 25vh;
}

.wineListWrapper{
    position: relative;
    /* top: 15vh; */
    margin: 0 auto;
    margin-top: 17vh;
    width: 75vw;
    padding-bottom: 100px;
}

.wineTile{
    /* background-color: rgba(206, 193, 170, 0.8); */
    background-image: url("../../Assets/parchment.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    align-content: center;
    list-style: none;
    margin: 5px;
    min-width: 270px;
    width: 25vw;
    max-width: 35vh;
    min-height: 200px;
    height: 25vh;
    border: 1px solid gray;
    display: inline-block;
    overflow: hidden;
}

.wineName{
    /* border: 2px solid black; */
    font-size: 24px;
    height: 90px;
}

.wineVintage {
    font-style: italic;
}

.wineLocation {
    font-size: 12px;
    font-weight: bolder;
}

.bottomContainer{
    /* border: 2px solid black; */
    display: inline-flex;

    /* margin-top: 50px; */
    /* left: 0; */
    position: inherit;
}

.reviewDiv{
    border-bottom: 1px solid lightslategray;
    position: relative;
    /* top: 20px; */
    bottom: 0;
    /* left: 0; */
    margin: 4px 1vw;
}

.scoreDiv{
    border-bottom: 1px solid lightslategray;
    margin: 4px 1vw;
}